/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  overflow-x: hidden;
  overflow-y: scroll; }

html {
  font-size: 16px; }

body {
  font-family: 'Roboto', sans-serif; }

.logo-wrapper .logo-img {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'><path fill='%23471745' d='M 30.875 2 A 1.0001 1.0001 0 0 0 30.34375 2.25 C 30.34375 2.25 29.856438 2.6580941 29.34375 3.28125 C 28.947867 3.7624326 28.625899 4.4904926 28.34375 5.21875 C 26.217974 6.1772853 22.780896 8.0931468 19.75 11.5 C 16.805397 14.809857 14.317173 19.49885 14.03125 25.78125 C 13.995767 25.763367 13.974152 25.768729 13.9375 25.75 C 13.23721 25.39215 12.240711 25 11 25 C 9.2400485 25 6.9979339 25.421839 5.15625 26.96875 C 3.3145661 28.515661 2 31.168121 2 35.1875 C 2 42.297653 8.181291 48 15 48 C 18.255538 48 21.518712 46.563383 23.96875 44.21875 C 27.744094 47.969841 33.550713 49.177995 38.8125 46.59375 C 44.697572 43.703533 47.950027 35.673125 44.75 29.15625 C 42.915503 25.421794 40.283469 23.702156 37.84375 23.1875 C 36.623891 22.930172 35.482867 22.943866 34.5 23.09375 C 33.517133 23.243634 32.679251 23.524972 32.09375 23.8125 C 30.952125 24.37313 30.246796 25.205632 29.78125 25.84375 C 29.122112 24.176049 28.429332 21.682457 28.15625 18.84375 C 27.958108 16.784045 27.979734 14.529928 28.3125 12.21875 C 28.855346 13.64254 29.774783 15.097663 31.34375 16.28125 C 33.084664 17.594995 35.202886 18.035624 37.1875 18 C 39.172114 17.96438 41.034295 17.46105 42.4375 16.78125 A 1.0001 1.0001 0 0 0 42.8125 15.28125 C 41.504447 13.536016 40.571277 10.178499 37.4375 8.21875 C 35.390058 6.9385027 33.224811 6.3524784 31.5625 6.0625 C 31.774181 5.8739512 31.99315 5.6778664 32.1875 5.5 C 32.591816 5.1299764 32.92405 4.8588085 33.1875 4.4375 A 1.0001 1.0001 0 0 0 33.125 3.3125 C 32.704496 2.7595798 32.226063 2.4349842 31.84375 2.25 C 31.461437 2.0650158 31.09375 2 31.09375 2 A 1.0001 1.0001 0 0 0 30.875 2 z M 29.65625 7.875 C 30.774373 7.911188 33.479501 8.0957209 36.375 9.90625 C 38.372413 11.155359 39.26924 13.358714 40.5 15.375 C 39.5031 15.715802 38.377284 15.978082 37.15625 16 C 35.491864 16.02988 33.814336 15.655755 32.53125 14.6875 C 29.40256 12.327299 29.543577 9.0502986 29.65625 7.875 z M 27.21875 8.0625 C 26.041601 11.898628 25.83594 15.732849 26.15625 19.0625 C 26.460071 22.220748 27.20858 24.892466 28 26.78125 C 27.95105 26.780861 27.926034 26.782393 27.875 26.78125 C 27.089591 26.763664 26.01662 26.837016 24.90625 27.375 C 24.741344 27.225849 24.576905 27.069105 24.40625 26.9375 C 22.448986 25.428106 20.297288 25 19 25 C 17.735321 25 16.759096 25.421079 16.0625 25.78125 C 16.052028 25.786665 16.041633 25.775921 16.03125 25.78125 C 16.310134 20.020763 18.56503 15.861768 21.25 12.84375 C 23.266082 10.577589 25.425074 9.0692802 27.21875 8.0625 z M 36.03125 25 C 36.478416 25.002937 36.933867 25.056601 37.40625 25.15625 C 39.295781 25.554844 41.356247 26.748706 42.96875 30.03125 C 45.630723 35.452375 42.738428 42.454717 37.9375 44.8125 C 33.358371 47.061468 28.474137 46.019246 25.28125 42.75 C 26.94389 40.63595 28 38.041057 28 35.1875 C 28 32.521502 27.307397 30.46284 26.28125 28.9375 C 26.810885 28.770329 27.309664 28.769989 27.8125 28.78125 C 28.471893 28.79602 29.11133 29.014815 29.96875 28.59375 C 30.826416 28.172564 31.024046 27.523882 31.40625 27 C 31.788454 26.476118 32.204375 26.00037 32.96875 25.625 C 33.519998 25.354293 34.689753 24.991188 36.03125 25 z M 11 27 C 11.815289 27 12.41654 27.2331 13 27.53125 C 13.58346 27.8294 14.054915 28.3125 15 28.3125 C 15.945085 28.3125 16.396596 27.827079 16.96875 27.53125 C 17.540904 27.235421 18.148679 27 19 27 C 19.818712 27 21.673764 27.332644 23.1875 28.5 C 23.347766 28.623593 23.50209 28.764279 23.65625 28.90625 A 1.0001 1.0001 0 0 0 24.34375 29.625 C 25.306551 30.828255 26 32.574677 26 35.1875 C 26 37.713609 24.932451 40.049108 23.3125 41.90625 A 1.0001 1.0001 0 0 0 23.21875 42 C 23.213427 42.005972 23.224085 42.025288 23.21875 42.03125 A 1.0001 1.0001 0 0 0 23.03125 42.25 C 20.884121 44.539951 17.866284 46 15 46 C 9.308709 46 4 41.123347 4 35.1875 C 4 31.588879 5.0771839 29.642589 6.4375 28.5 C 7.7978161 27.357411 9.5679515 27 11 27 z'></path></svg>"); }

.logo-wrapper .logo-text {
  color: #F6F6F6;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased; }

.cookies-warning {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: auto;
  height: auto;
  background: #191747;
  color: #F6F6F6; }
  .cookies-warning .close-button {
    position: absolute;
    right: 0;
    cursor: pointer; }
    .cookies-warning .close-button:hover {
      background: #36345e; }
    .cookies-warning .close-button::before {
      display: block;
      width: 1.4rem;
      height: 1.4rem;
      content: '';
      background: url("../assets/close_button.svg") 50%/0.6rem no-repeat; }
  .cookies-warning .message {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 0.875rem;
    line-height: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 23px 23px 1.2rem;
    width: 320px;
    height: auto; }

.hidden {
  display: none; }

.container {
  margin: 0 auto; }
  @media (max-width: 543px) {
    .container {
      width: 100%; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .container {
      width: 544px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 768px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 960px; } }
  .container::after, .container::before {
    content: "";
    display: block;
    clear: both; }
  .container .col {
    display: block;
    float: left;
    margin: 0 15px 0; }
  @media (max-width: 543px) {
    .container .xs-1 {
      width: calc(100% / 12 * 1 - 30px); }
    .container .o-xs-1 {
      margin-left: calc(100% / 12 * 1 + 15px); }
    .container .xs-2 {
      width: calc(100% / 12 * 2 - 30px); }
    .container .o-xs-2 {
      margin-left: calc(100% / 12 * 2 + 15px); }
    .container .xs-3 {
      width: calc(100% / 12 * 3 - 30px); }
    .container .o-xs-3 {
      margin-left: calc(100% / 12 * 3 + 15px); }
    .container .xs-4 {
      width: calc(100% / 12 * 4 - 30px); }
    .container .o-xs-4 {
      margin-left: calc(100% / 12 * 4 + 15px); }
    .container .xs-5 {
      width: calc(100% / 12 * 5 - 30px); }
    .container .o-xs-5 {
      margin-left: calc(100% / 12 * 5 + 15px); }
    .container .xs-6 {
      width: calc(100% / 12 * 6 - 30px); }
    .container .o-xs-6 {
      margin-left: calc(100% / 12 * 6 + 15px); }
    .container .xs-7 {
      width: calc(100% / 12 * 7 - 30px); }
    .container .o-xs-7 {
      margin-left: calc(100% / 12 * 7 + 15px); }
    .container .xs-8 {
      width: calc(100% / 12 * 8 - 30px); }
    .container .o-xs-8 {
      margin-left: calc(100% / 12 * 8 + 15px); }
    .container .xs-9 {
      width: calc(100% / 12 * 9 - 30px); }
    .container .o-xs-9 {
      margin-left: calc(100% / 12 * 9 + 15px); }
    .container .xs-10 {
      width: calc(100% / 12 * 10 - 30px); }
    .container .o-xs-10 {
      margin-left: calc(100% / 12 * 10 + 15px); }
    .container .xs-11 {
      width: calc(100% / 12 * 11 - 30px); }
    .container .o-xs-11 {
      margin-left: calc(100% / 12 * 11 + 15px); }
    .container .xs-12 {
      width: calc(100% / 12 * 12 - 30px); }
    .container .o-xs-12 {
      margin-left: calc(100% / 12 * 12 + 15px); }
    .container .xs-hidden {
      display: none; }
    .container .xs-invisible {
      opacity: 0; } }
  @media (min-width: 544px) and (max-width: 767px) {
    .container .sm-1 {
      width: calc(544px / 12 * 1 - 30px); }
    .container .o-sm-1 {
      margin-left: calc(544px / 12 * 1 + 15px); }
    .container .sm-2 {
      width: calc(544px / 12 * 2 - 30px); }
    .container .o-sm-2 {
      margin-left: calc(544px / 12 * 2 + 15px); }
    .container .sm-3 {
      width: calc(544px / 12 * 3 - 30px); }
    .container .o-sm-3 {
      margin-left: calc(544px / 12 * 3 + 15px); }
    .container .sm-4 {
      width: calc(544px / 12 * 4 - 30px); }
    .container .o-sm-4 {
      margin-left: calc(544px / 12 * 4 + 15px); }
    .container .sm-5 {
      width: calc(544px / 12 * 5 - 30px); }
    .container .o-sm-5 {
      margin-left: calc(544px / 12 * 5 + 15px); }
    .container .sm-6 {
      width: calc(544px / 12 * 6 - 30px); }
    .container .o-sm-6 {
      margin-left: calc(544px / 12 * 6 + 15px); }
    .container .sm-7 {
      width: calc(544px / 12 * 7 - 30px); }
    .container .o-sm-7 {
      margin-left: calc(544px / 12 * 7 + 15px); }
    .container .sm-8 {
      width: calc(544px / 12 * 8 - 30px); }
    .container .o-sm-8 {
      margin-left: calc(544px / 12 * 8 + 15px); }
    .container .sm-9 {
      width: calc(544px / 12 * 9 - 30px); }
    .container .o-sm-9 {
      margin-left: calc(544px / 12 * 9 + 15px); }
    .container .sm-10 {
      width: calc(544px / 12 * 10 - 30px); }
    .container .o-sm-10 {
      margin-left: calc(544px / 12 * 10 + 15px); }
    .container .sm-11 {
      width: calc(544px / 12 * 11 - 30px); }
    .container .o-sm-11 {
      margin-left: calc(544px / 12 * 11 + 15px); }
    .container .sm-12 {
      width: calc(544px / 12 * 12 - 30px); }
    .container .o-sm-12 {
      margin-left: calc(544px / 12 * 12 + 15px); }
    .container .sm-hidden {
      display: none; }
    .container .sm-invisible {
      opacity: 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .container .md-1 {
      width: calc(768px / 12 * 1 - 30px); }
    .container .o-md-1 {
      margin-left: calc(768px / 12 * 1 + 15px); }
    .container .md-2 {
      width: calc(768px / 12 * 2 - 30px); }
    .container .o-md-2 {
      margin-left: calc(768px / 12 * 2 + 15px); }
    .container .md-3 {
      width: calc(768px / 12 * 3 - 30px); }
    .container .o-md-3 {
      margin-left: calc(768px / 12 * 3 + 15px); }
    .container .md-4 {
      width: calc(768px / 12 * 4 - 30px); }
    .container .o-md-4 {
      margin-left: calc(768px / 12 * 4 + 15px); }
    .container .md-5 {
      width: calc(768px / 12 * 5 - 30px); }
    .container .o-md-5 {
      margin-left: calc(768px / 12 * 5 + 15px); }
    .container .md-6 {
      width: calc(768px / 12 * 6 - 30px); }
    .container .o-md-6 {
      margin-left: calc(768px / 12 * 6 + 15px); }
    .container .md-7 {
      width: calc(768px / 12 * 7 - 30px); }
    .container .o-md-7 {
      margin-left: calc(768px / 12 * 7 + 15px); }
    .container .md-8 {
      width: calc(768px / 12 * 8 - 30px); }
    .container .o-md-8 {
      margin-left: calc(768px / 12 * 8 + 15px); }
    .container .md-9 {
      width: calc(768px / 12 * 9 - 30px); }
    .container .o-md-9 {
      margin-left: calc(768px / 12 * 9 + 15px); }
    .container .md-10 {
      width: calc(768px / 12 * 10 - 30px); }
    .container .o-md-10 {
      margin-left: calc(768px / 12 * 10 + 15px); }
    .container .md-11 {
      width: calc(768px / 12 * 11 - 30px); }
    .container .o-md-11 {
      margin-left: calc(768px / 12 * 11 + 15px); }
    .container .md-12 {
      width: calc(768px / 12 * 12 - 30px); }
    .container .o-md-12 {
      margin-left: calc(768px / 12 * 12 + 15px); }
    .container .md-hidden {
      display: none; }
    .container .md-invisible {
      opacity: 0; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container .lg-1 {
      width: calc(960px / 12 * 1 - 30px); }
    .container .o-lg-1 {
      margin-left: calc(960px / 12 * 1 + 15px); }
    .container .lg-2 {
      width: calc(960px / 12 * 2 - 30px); }
    .container .o-lg-2 {
      margin-left: calc(960px / 12 * 2 + 15px); }
    .container .lg-3 {
      width: calc(960px / 12 * 3 - 30px); }
    .container .o-lg-3 {
      margin-left: calc(960px / 12 * 3 + 15px); }
    .container .lg-4 {
      width: calc(960px / 12 * 4 - 30px); }
    .container .o-lg-4 {
      margin-left: calc(960px / 12 * 4 + 15px); }
    .container .lg-5 {
      width: calc(960px / 12 * 5 - 30px); }
    .container .o-lg-5 {
      margin-left: calc(960px / 12 * 5 + 15px); }
    .container .lg-6 {
      width: calc(960px / 12 * 6 - 30px); }
    .container .o-lg-6 {
      margin-left: calc(960px / 12 * 6 + 15px); }
    .container .lg-7 {
      width: calc(960px / 12 * 7 - 30px); }
    .container .o-lg-7 {
      margin-left: calc(960px / 12 * 7 + 15px); }
    .container .lg-8 {
      width: calc(960px / 12 * 8 - 30px); }
    .container .o-lg-8 {
      margin-left: calc(960px / 12 * 8 + 15px); }
    .container .lg-9 {
      width: calc(960px / 12 * 9 - 30px); }
    .container .o-lg-9 {
      margin-left: calc(960px / 12 * 9 + 15px); }
    .container .lg-10 {
      width: calc(960px / 12 * 10 - 30px); }
    .container .o-lg-10 {
      margin-left: calc(960px / 12 * 10 + 15px); }
    .container .lg-11 {
      width: calc(960px / 12 * 11 - 30px); }
    .container .o-lg-11 {
      margin-left: calc(960px / 12 * 11 + 15px); }
    .container .lg-12 {
      width: calc(960px / 12 * 12 - 30px); }
    .container .o-lg-12 {
      margin-left: calc(960px / 12 * 12 + 15px); }
    .container .lg-hidden {
      display: none; }
    .container .lg-invisible {
      opacity: 0; } }
  @media (min-width: 1200px) {
    .container .xl-1 {
      width: calc(960px / 12 * 1 - 30px); }
    .container .o-xl-1 {
      margin-left: calc(960px / 12 * 1 + 15px); }
    .container .xl-2 {
      width: calc(960px / 12 * 2 - 30px); }
    .container .o-xl-2 {
      margin-left: calc(960px / 12 * 2 + 15px); }
    .container .xl-3 {
      width: calc(960px / 12 * 3 - 30px); }
    .container .o-xl-3 {
      margin-left: calc(960px / 12 * 3 + 15px); }
    .container .xl-4 {
      width: calc(960px / 12 * 4 - 30px); }
    .container .o-xl-4 {
      margin-left: calc(960px / 12 * 4 + 15px); }
    .container .xl-5 {
      width: calc(960px / 12 * 5 - 30px); }
    .container .o-xl-5 {
      margin-left: calc(960px / 12 * 5 + 15px); }
    .container .xl-6 {
      width: calc(960px / 12 * 6 - 30px); }
    .container .o-xl-6 {
      margin-left: calc(960px / 12 * 6 + 15px); }
    .container .xl-7 {
      width: calc(960px / 12 * 7 - 30px); }
    .container .o-xl-7 {
      margin-left: calc(960px / 12 * 7 + 15px); }
    .container .xl-8 {
      width: calc(960px / 12 * 8 - 30px); }
    .container .o-xl-8 {
      margin-left: calc(960px / 12 * 8 + 15px); }
    .container .xl-9 {
      width: calc(960px / 12 * 9 - 30px); }
    .container .o-xl-9 {
      margin-left: calc(960px / 12 * 9 + 15px); }
    .container .xl-10 {
      width: calc(960px / 12 * 10 - 30px); }
    .container .o-xl-10 {
      margin-left: calc(960px / 12 * 10 + 15px); }
    .container .xl-11 {
      width: calc(960px / 12 * 11 - 30px); }
    .container .o-xl-11 {
      margin-left: calc(960px / 12 * 11 + 15px); }
    .container .xl-12 {
      width: calc(960px / 12 * 12 - 30px); }
    .container .o-xl-12 {
      margin-left: calc(960px / 12 * 12 + 15px); }
    .container .xl-hidden {
      display: none; }
    .container .xl-invisible {
      opacity: 0; } }

.header {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  background: #191747;
  z-index: 1000;
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5); }
  .header .container {
    height: 60px; }
    .header .container .header-content {
      font-weight: 400;
      height: inherit;
      line-height: 57px;
      color: #F6F6F6;
      text-decoration: none; }
    .header .container .logo-wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
      .header .container .logo-wrapper .logo-img {
        height: 3rem;
        width: 3rem;
        min-width: 3rem; }
      .header .container .logo-wrapper .logo-text {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: -3px;
        text-align: left;
        padding-bottom: .5rem;
        box-sizing: content-box; }
    .header .container .profile-menu {
      height: 60px;
      position: relative; }
      .header .container .profile-menu .menu-switcher {
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer; }
        .header .container .profile-menu .menu-switcher:checked ~ .menu-content {
          display: block; }
      .header .container .profile-menu .menu-underlay {
        display: -webkit-box;
        display: flex;
        flex-wrap: nowrap;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: end;
                justify-content: flex-end; }
        .header .container .profile-menu .menu-underlay .name {
          color: #F6F6F6;
          margin-right: 5px;
          height: 60px;
          width: 255px;
          text-align: right; }
        .header .container .profile-menu .menu-underlay .avatar {
          height: 40px;
          width: 40px;
          min-height: 40px;
          min-width: 40px;
          border-radius: 50%; }
      .header .container .profile-menu .menu-content {
        display: none;
        list-style: none;
        background: #191747;
        width: 160px;
        float: right;
        box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5); }
        .header .container .profile-menu .menu-content .menu-item {
          display: block;
          height: 60px; }
          .header .container .profile-menu .menu-content .menu-item:hover {
            background: #36345e; }
          .header .container .profile-menu .menu-content .menu-item a {
            text-decoration: none;
            display: block;
            color: #F6F6F6;
            padding-left: 18px; }
            .header .container .profile-menu .menu-content .menu-item a:visited {
              color: #F6F6F6; }

.login-page {
  background: #191747;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }
  .login-page .logo-wrapper .logo-img {
    margin: 0 auto;
    width: 80px;
    height: 80px; }
  .login-page .logo-wrapper .logo-text {
    margin-bottom: 30px;
    text-align: center;
    font-size: 5rem;
    line-height: 5rem; }
    @media (max-width: 543px) {
      .login-page .logo-wrapper .logo-text {
        font-size: 4.5rem;
        line-height: 4.5rem; } }
  .login-page .auth-button {
    height: 40px;
    color: #191747;
    background: #F6F6F6;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    margin-bottom: 60px;
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
    border-radius: 2px; }
    .login-page .auth-button:hover {
      background: #797979; }

.content {
  margin-top: 80px; }
  .content .playlist .loader, .content .playlist .song-container, .content .playlist .search-container {
    height: 60px;
    margin-bottom: 10px;
    background: #F6F6F6;
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
    border-radius: 2px; }
  .content .playlist .loader, .content .playlist .search-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
  .content .playlist .search-container form {
    width: 100%;
    margin: auto 10px auto; }
    .content .playlist .search-container form .search-field {
      display: block;
      margin: 0;
      vertical-align: middle;
      text-align: center;
      border: 0;
      height: 30px;
      border-radius: 2px;
      box-sizing: border-box;
      padding-left: 5px;
      padding-right: 5px;
      width: 100%; }
      .content .playlist .search-container form .search-field:focus {
        outline: 0;
        box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
        -webkit-transition: box-shadow 0.1s ease-in;
        transition: box-shadow 0.1s ease-in; }
      .content .playlist .search-container form .search-field::-webkit-input-placeholder, .content .playlist .search-container form .search-field:-moz-placeholder, .content .playlist .search-container form .search-field::-moz-placeholder, .content .playlist .search-container form .search-field:-ms-input-placeholder {
        text-align: center; }
  .content .playlist .song-container {
    position: relative; }
    .content .playlist .song-container .play-button {
      cursor: pointer;
      width: 60px;
      height: 58px;
      float: left;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center; }
      .content .playlist .song-container .play-button .icon {
        height: 20px;
        width: auto; }
    .content .playlist .song-container .info-wrapper {
      box-sizing: border-box;
      padding-top: 0.75rem;
      float: left;
      height: 58px;
      max-width: calc(100% - 70px); }
      .content .playlist .song-container .info-wrapper .title, .content .playlist .song-container .info-wrapper .artist {
        white-space: nowrap;
        overflow: hidden; }
      .content .playlist .song-container .info-wrapper .title {
        color: #191747;
        font-size: 1.125rem;
        padding-bottom: 3px;
        max-height: 1.125rem; }
      .content .playlist .song-container .info-wrapper .artist {
        color: #797979;
        font-size: 0.75rem;
        max-height: 0.75rem; }
    .content .playlist .song-container .progress-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px; }
      .content .playlist .song-container .progress-wrapper .cache-progress, .content .playlist .song-container .progress-wrapper .play-progress {
        position: absolute;
        height: 2px; }
      .content .playlist .song-container .progress-wrapper .cache-progress {
        background: #C5DFFC; }
      .content .playlist .song-container .progress-wrapper .play-progress {
        background: #191747; }
  .content .side-menu {
    background: #F6F6F6;
    position: fixed;
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
    border-radius: 2px;
    height: auto; }
    .content .side-menu .artwork {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: #f00; }
    .content .side-menu .title, .content .side-menu .artist {
      margin-left: 5px;
      margin-right: 5px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden; }
    .content .side-menu .title {
      color: #191747;
      font-size: 1.125rem;
      padding-bottom: 6px; }
    .content .side-menu .artist {
      color: #797979;
      font-size: 0.75rem; }
    .content .side-menu .controls {
      display: -webkit-box;
      display: flex;
      justify-content: space-around; }
      .content .side-menu .controls .prev-button, .content .side-menu .controls .play-button, .content .side-menu .controls .next-button {
        width: 60px;
        height: 60px;
        float: left;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: center;
                justify-content: center;
        cursor: pointer; }
        .content .side-menu .controls .prev-button .icon, .content .side-menu .controls .play-button .icon, .content .side-menu .controls .next-button .icon {
          height: 20px;
          width: auto; }
      .content .side-menu .controls .prev-button, .content .side-menu .controls .next-button {
        -webkit-box-flex: 2;
                flex-grow: 2; }

.spinner {
  width: 40px;
  height: 40px;
  background: none;
  position: relative; }

.outer, .inner {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.outer::before, .inner::before, .outer::after, .inner::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  border: transparent 5px solid;
  width: inherit;
  height: inherit;
  border-radius: inherit; }

.outer::after, .inner::after {
  border-right-color: #191747;
  border-left-color: #191747; }

.outer::after {
  border-top-color: #191747; }

.inner::after {
  border-bottom-color: #191747; }

.outer {
  width: 30px;
  height: 30px;
  -webkit-animation: spin 0.9s infinite ease;
  animation: spin 0.9s infinite ease; }

.inner {
  width: 20px;
  height: 20px;
  background: none;
  -webkit-animation: spin 0.9s infinite ease alternate-reverse;
  animation: spin 0.9s infinite ease alternate-reverse; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.volume-slider {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  height: 20px;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px; }
  .volume-slider .level,
  .volume-slider .knob,
  .volume-slider .underlay {
    position: absolute; }
  .volume-slider .underlay {
    height: 2px;
    width: 100%;
    max-width: 100%;
    background: #ddd;
    top: 8px; }
  .volume-slider .knob {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background: #F6F6F6;
    border-radius: 50%;
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5); }
  .volume-slider .level {
    background: #191747;
    height: 2px;
    top: 8px; }

/*# sourceMappingURL=maps/main.css.map */
