<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/angular.min.js"></script>

        <script src="js/vk_api.js" type="text/javascript"></script>
        <script type="text/javascript">
            VK.init({
                apiId: '5597553'
            });
        </script>

        <title>vplayer</title>
    </head>
    <body ng-app="vplayer" ng-controller="AppController">

        <div ng-controller="AuthController" ng-hide="vkUserAuthorized">
            <div class="login-page">
                <div class="container">
                    <div class="logo-wrapper col xs-12 sm-12 md-12 lg-12 xl-12">
                        <div class="logo-img"></div>
                        <div class="logo-text">vplayer</div>
                    </div>
                    <div ng-click="auth()"
                         class="auth-button col xs-8 o-xs-2 sm-6 o-sm-3 md-4 o-md-4 lg-4 o-lg-4 xl-4 o-xl-4"
                         role="button">Войти через VK</div>
                </div>
            </div>
        </div>

        <div ng-controller="PlayerController" ng-show="vkUserAuthorized">

            <div class="cookies-warning">
                <div class="close-button"></div>
                <p class="message">
                    Cookies позволяют получить доступ к сервису vk.com. Используя это приложение, <br>Вы соглашаетесь с использованием cookies.
                </p>
            </div>

            <nav class="header">
                <div class="container">
                    <a class="col xs-6 sm-6 md-6 lg-6 xl-6 logo-wrapper header-content" href="#">
                        <div class="logo-img"></div>
                        <div class="logo-text">vplayer</div>
                    </a>

                    <div class="col xs-6 sm-6 md-6 lg-6 xl-6 profile-menu header-content">

                        <input class="menu-switcher" type="checkbox">
                        <div class="menu-underlay">
                            <div class="name xs-invisible">{{ user.firstName + ' ' + user.lastName }}</div>
                            <img class="avatar" src="assets/user_thumb.png" ng-src="{{ user.photoUrl }}" alt="">
                        </div>

                        <ul class="menu-content">
                            <li class="menu-item"><a ng-href="{{ user.href }}" target="_blank">Профиль</a></li>
                            <li class="menu-item"><a href ng-click="logout()">Выйти</a></li>
                        </ul>

                    </div>

                </div>
            </nav>

            <div class="container content" >

                <ul class="playlist col xs-12 sm-12 md-8 lg-8 xl-8" ng-to-bottom="loadAudio()">
                    <audio src="" preload="auto" ng-player></audio>
                    <!--<li class="search-container">
                        <form >
                            <input class="search-field" type="text" placeholder="&#128269; Поиск">
                        </form>
                    </li>-->
                    <div ng-repeat="track in tracks" ng-track></div>
                    <li class="loader" ng-show="audioLoading">
                        <div class="spinner">
                            <div class="outer"></div>
                            <div class="inner"></div>
                        </div>
                    </li>
                </ul>

                <div class="side-menu col xs-hidden sm-hidden md-4 lg-4 xl-4 o-md-8 o-lg-8 o-xl-8">

                    <img class="artwork" src="assets/artwork_thumb.png" alt="Artwork">
                    <div class="title">–</div>
                    <div class="artist">-</div>
                    <div class="controls">
                        <div class="prev-button" ng-click="prevTrack()">
                            <img class="icon" src="assets/prev_glyph.svg" alt="Prev">
                        </div>
                        <div class="play-button" ng-click="toggleAudio()">
                            <img class="icon" src="assets/play_glyph.svg" alt="Play">
                        </div>
                        <div class="next-button" ng-click="nextTrack()">
                            <img class="icon" src="assets/next_glyph.svg" alt="Next">
                        </div>
                    </div>
                    <div class="volume-slider">
                        <div class="underlay"></div>
                        <div class="level"></div>
                        <div class="knob"></div>
                    </div>

                </div>

            </div>
        </div>

        <!--<script src="js/jquery.min.js"></script>-->
        <script src="js/svgeezy.min.js"></script>
        <script src="js/slider.js"></script>
        <script src="js/app.js"></script>


    </body>
</html>